*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ccc;
    color: #000;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    padding: 120px;
    margin: 100px 0;
}

input{
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
}

button[type="submit"]{
    padding: 10px 20px;
    width: 100%;
    border: none;
    background-color: #007abb;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

button[type="submit"]:hover{
    background-color: #ccc;
    color: #000;
}